<%- include('header') %>

    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/choirs">Főoldal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/choirs">Kórusok</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/members/list/:choirID">Tagok</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">Rólunk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-6">
                    <table style="border:2px;">
                        <th style="border:2px;">
                            <div id="Outer">

                                <div id="Inner">

                                    <h1>Lorem Ipsum</h1>
                                    <h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
                                    <h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h5>


                                    <hr>

                                    <!-- 
                                
                                
                                If you want to use Lorem Ipsum within another program please contact us for details
                                on our API rather than parse the HTML below, we have XML and JSON available.
                                
                                
                                 -->
                                    <div id="lipsum">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut blandit neque. Maecenas congue, nisl a molestie hendrerit, tellus metus dictum massa, ut lacinia tellus mi id lacus. Proin nec elit ut erat laoreet aliquet vitae vel neque. Aenean euismod
                                            non felis ut consequat. Fusce tortor sapien, rutrum ut efficitur id, fermentum nec turpis. Aliquam egestas finibus ornare. Sed feugiat lorem sit amet enim dictum euismod. Donec in ipsum condimentum, iaculis
                                            lectus vitae, pulvinar sem. Nunc condimentum nisi sed tortor facilisis cursus. Fusce dignissim diam tellus, id ultrices ex feugiat mollis. Phasellus quis sem lorem.
                                        </p>
                                        <p>
                                            In rutrum nibh id pretium tincidunt. Quisque a leo eu mauris tristique elementum. Proin risus risus, molestie et ullamcorper eu, posuere a tellus. Donec nisl diam, lobortis vel efficitur vitae, consectetur vitae nisi. Nulla a tempor ante. Morbi sit amet
                                            mattis nibh. Nunc sed rhoncus odio. Curabitur ut nulla a velit ornare scelerisque. In hac habitasse platea dictumst. Curabitur sed malesuada odio. Vivamus vitae purus tempor nisi maximus dictum et sit amet massa.
                                            Donec faucibus molestie orci, at fringilla neque mattis eu. Ut posuere felis ligula, quis aliquam lacus placerat nec. Nam sed fermentum massa, interdum imperdiet turpis. Pellentesque eleifend a elit finibus
                                            efficitur. Aliquam sed dapibus neque, eu mattis purus.
                                        </p>
                                        <p>
                                            Curabitur vehicula, dui id scelerisque fringilla, odio est accumsan magna, a hendrerit tellus orci eget turpis. Aliquam in lacus nunc. Cras maximus lectus id elementum malesuada. Maecenas ultrices, nibh sed tincidunt varius, sapien tortor egestas felis,
                                            commodo dignissim ante velit a libero. Suspendisse vel tortor enim. Nulla vitae diam dapibus, molestie lorem sed, venenatis lacus. Sed malesuada blandit iaculis.
                                        </p>
                                        <p>
                                            Curabitur eu mattis erat. Quisque eu rhoncus leo. Morbi porta viverra congue. Cras et lacus fermentum, ultricies libero vel, cursus massa. Phasellus mauris metus, malesuada mollis ex ac, laoreet aliquam neque. Nunc lacinia ornare tristique. Fusce eu porta
                                            ante. Cras semper nisl orci, id volutpat augue volutpat euismod. Praesent sodales libero sit amet dui pulvinar malesuada. Aliquam et nibh lacus. Morbi quis orci varius, congue leo a, lacinia velit. Integer auctor
                                            imperdiet diam, id fringilla libero finibus quis. Nunc lacinia sem eu leo dapibus scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                        </p>
                                        <p>
                                            Sed vehicula dolor ac nisl consectetur, sit amet consequat velit condimentum. Ut elementum accumsan dolor, id mollis velit tempus efficitur. Maecenas eu mauris a augue auctor lobortis at ac libero. Integer blandit mauris nec mollis eleifend. Pellentesque
                                            ultricies, nisl ac tempor lacinia, lectus libero consequat est, at molestie augue nunc id justo. Proin luctus aliquam enim, quis placerat lectus luctus non. Curabitur in bibendum nisl. Proin eu luctus sapien,
                                            ac congue neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin id odio pulvinar, rhoncus arcu lacinia, auctor ipsum. Nunc pulvinar velit eget laoreet iaculis. Nunc
                                            at augue massa.
                                        </p>
                                    </div>
                                </div>
                            </div>
                </div>
                </th>
                </table>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    </div>

    <%- include('footer') %>